body {
  background-color: #ededed;
  font-family: "Lato", sans-serif;
  color: #666666;
  font-weight: 400;
}

button {
  padding: 15px 30px;
  border-radius: 40px;
  border: 0px;
  font-family: Lato, sans-serif;
  background-color: transparent;
  color: #666666;
  font-weight: bold;
}
button:hover {
  background-color: #007a82;
  color: #fff;
}
a {
  color: #666666;
  font-weight: bold;
  text-decoration: none;
}

header {
  padding-top: 10px;
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
}

h1 {
  font-family: bebas;
  color: black;
  font-size: 50px;
  margin-bottom: 10px;
}
